.bannercontainer{
    height: 20vw;
    background-image: url('./assets/img/fondo.png');
    background-size:cover;
    background-repeat: no-repeat;
}

.banner{
    object-fit: cover;
}

.fotocvcontainer{
    width: 10vw;
    height: 10vw;
    display: flex;
}

.fotocv{
    object-fit:cover;
    border-radius: 50%;
    border: 1px solid rgba(37, 37, 37, 0.63);
}

.nomdesc{
    padding-top: 3vw;
}

.logoempresacontainer{
    width: 20vw;
}

.logoempresa{
    object-fit: cover;
}

.nav-item:hover{
    background: rgba(228, 228, 228, 0.63);
}