<div class="bannercontainer justify-content-center align-items-center">
        
</div>
  <div class="row">
    <div class="col-md-4 col-sm-12 position-relative d-flex flex-column">
      <div class="fotocvcontainer position-absolute top-0 start-50 translate-middle">
        <img src="./assets/img/fotocv.png" class="w-100 shadow-lg fotocv" alt="">
      </div>
      <div class="nomdesc">
        <p class="border-bottom border-danger mt-5 fs-4 pb-2 border-4 rounded text-uppercase text-dark text-center">{{NombreCompleto}} <a href="#"><i class="fas fa-edit fs-6 text-dark"></i></a></p>
        <p class="text-center text-uppercase">{{Descripcion}}<a href="#"><i class="fas fa-edit fs-6 text-dark"></i></a></p>
      </div>
    </div>
    <div class="col-md-8 col-sm-12 mt-5 d-block ps-2 border-start border-4 border-danger">
      <p class="ms-2 fs-4 text-uppercase text-dark">RESUMEN</p>
      <p class="ms-2">{{Biografia}}<a href="#"><i class="fas fa-edit fs-6 text-dark"></i></a></p>
    </div>
  </div>
